In [45]:
print below formats:
                    ineuron
                ineuron  ineuron
        ineuron       ineuron    ineuron
ineuron  ineuron      ineuron      ineuron

and 

                    ineuron
                ineuron  ineuron
        ineuron    ineuron    ineuron
ineuron    ineuron  ineuron    ineuron
        ineuron       ineuron    ineuron
                ineuron  ineuron
                     ineuron
            
            
l=[[1,2,3,4],(2,3,4,5),(3,4,5,6),set([3,4,5,65,4,3]),{'k1':'prash','k2':'ineuron','k3':'kumar',3:6,7:8},['inuron','datasciencd']]
try to extract all list 
try to extract all dictonary items
try to extarct all tuple entity
try to extract all numeric it may b part of key and values
try to give summation of all numeric data
try to flilter out odd values of all numeric valus of data whoch are part of list
try to extract 'ineuron' out of this data
try to find out numbrr of occurances of all data
try to find number of keys in dict element
try to filter all string data
try to final out alphanum in data
try to find out multiplication of all individual collection inside dataset
try to unwrp all collection inside collection and create a flat list

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [1]:
l=[[1,2,3,4],(2,3,4,5),(3,4,5,6),set([3,4,5,65,4,3]),{'k1':'prash','k2':'ineuron','k3':'kumar',3:6,7:8},['inuron','datasciencd']]

In [48]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['inuron', 'datasciencd']

In [50]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'prash', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [51]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5)
(3, 4, 5, 6)

In [50]:
mylist=[[1,2,3,4],(2,3,4,5),(3,4,5,6),set([3,4,5,65,4,3]),{'k1':'prash','k2':'ineuron','k3':'kumar',3:6,7:8},['inuron','datasciencd']]

In [77]:
def extract_num(mylist):
    allnum = []
    for i in mylist:
        if isinstance(i, (int, float)):
            allnum.append(i)
        elif isinstance(i,dict):
            for k,v in i.items():
                if isinstance(k,(int,float)):
                    allnum.append(k)
                if isinstance(v,(int,float)):
                    allnum.append(v)
        elif isinstance(i,(list,tuple,set)):
            allnum.append(extract_num(i))

    return allnum
            
    
        
            
        

# Your list
mylist = [[1, 2, 3, 4], 
     (2, 3, 4, 5), 
     (3, 4, 5, 6), 
     set([3, 4, 5, 65, 4, 3]), 
     {'k1': 'prash', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, 
     ['inuron', 'datasciencd']]

# Extract numeric elements
numeric_elements = extract_num(mylist)

print(numeric_elements)

[[1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6], [65, 3, 4, 5], 3, 6, 7, 8, []]

In [19]:
l = [[1, 2, 3, 4], 
     (2, 3, 4, 5), 
     (3, 4, 5, 6), 
     set([3, 4, 5, 65, 4, 3]), 
     {'k1': 'prash', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, 
     ['inuron', 'datasciencd']]

In [25]:
l1=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for j in i:
            if type(j)==int:
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int:
                    l1.append(g)

In [27]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 3, 4, 5, 6, 65, 3, 4, 5, 3, 6, 7, 8]

In [81]:
def summation_of_all(l):
    all_numbers=extract_num(mylist)
    return sum(all_numbers)

numeric_elements=summation_of_all(numeric_elements)
numeric_elements

143

In [28]:
#try to flilter out odd values of all numeric valus of data whoch are part of list
for i in l1:
    if i%2==0:
        pass
    else:
        print(i)

1
3
3
5
3
5
65
3
5
3
7

In [82]:
l[4]['k2']

'ineuron'

In [ ]:
try to find out numbrr of occurances of all data

In [101]:

def count_ocurance(l,counts):
    for i in l:
        if isinstance(i,(int,flaot)):
            counts[i]=counts.get(i,0)+1
            
        elif isinstance(i,dict):
            for key,value in i.items():
                counts[key]=counts.get(key,0)+1
                if isinstance(value,(int,float)):
                    counts[value]=counts.get(value,0)+1
        elif isinstance(i,(list,set,tuple)):
            count_ocurance(i,count)

In [102]:
l=[1,1,2,2,3,4]

def find_occurences(mylsit):
    occurences={}
    count_ocurance(mylist,occurences)
    return occurences
mylist=[[1,2,3,4],(2,3,4,5),(3,4,5,6),set([3,4,5,65,4,3]),{'k1':'prash','k2':'ineuron','k3':'kumar',3:6,7:8},['inuron','datasciencd']]

data_occurence=find_occurrences(mylist)
data_occurence

{1: 1,
 2: 2,
 3: 5,
 4: 4,
 5: 3,
 6: 2,
 65: 1,
 'k1': 1,
 'k2': 1,
 'k3': 1,
 7: 1,
 8: 1}

In [32]:
l1=[[1,2,3,4],(2,3,4,5),(3,4,5,6),set([3,4,5,65,4,3]),{'k1':'prash','k2':'ineuron','k3':'kumar',3:6,7:8},['inuron','datasciencd']]

In [34]:
for i in l1:
    print(i,l1.count(i))

[1, 2, 3, 4] 1
(2, 3, 4, 5) 1
(3, 4, 5, 6) 1
{65, 3, 4, 5} 1
{'k1': 'prash', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} 1
['inuron', 'datasciencd'] 1

In [115]:
def find_dict_occurences(mylist,counts):
    for i in mylist:
        if isinstance(i,(int,float)):
            counts[i]=counts.get(i,0)+1
        elif isinstance(i,(dict)):
            for key in i.keys():
                counts[key]=counts.get(key,0)+1
            for value in i.values():
                counts[value]=counts.get(key,0)+1
            
            
def count_dict_occur(mylist):
    occurence={}
    find_dict_occurences(mylist,occurence)
    return occurence


find_dict_occurences=count_dict_occur(mylist)
find_dict_occurences

{'k1': 1,
 'k2': 1,
 'k3': 1,
 3: 1,
 7: 1,
 'prash': 2,
 'ineuron': 2,
 'kumar': 2,
 6: 2,
 8: 2}

In [136]:
def extract_strings(mylist):
    allstrings=[]
    for i in mylist:
        if isinstance(i,str):
            allstrings.append(i)
        elif isinstance(i,dict):
            for key,value in i.items():
                if isinstance(key,str):
                    allstrings.append(key)
                if isinstance(value,str):
                    allstrings.append(value)
        elif isinstance(i,(list,tuple,set)):
                allstrings.extend(extract_strings(i))
    return allstrings

In [11]:
mylist = [[1, 2, 3, 4], 
     (2, 3, 4, 5), 
     (3, 4, 5, 6), 
     set([3, 4, 5, 65, 4, 3]), 
     {'k1': 'prash', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, 
     ['inuron', 'datasciencd']]

In [138]:
stringdata=extract_strings(mylist)
stringdata

['k1', 'prash', 'k2', 'ineuron', 'k3', 'kumar', 'inuron', 'datasciencd']

In [139]:
def extract_alpha(mylist):
    all_alpha=[]
    for i in mylist:
        if isinstance(i,(int,float)):
            all_alpha.append(i)
        elif isinstance(i,str) and i.isalnum():
            all_alpha.append(i)
        elif isinstance(i,dict):
            for key,value in i.items():
                if isinstance(key,str) and key.isalnum():
                    all_alpha.append(key)
                if isinstance(value,str) and value.isalnum():
                    all_alpha.append(value)
        elif isinstance(i,(list,tuple,set)):
            all_alpha.extend(extract_alpha(i))
    return all_alpha

In [141]:
mylist = [[1, 2, 3, 4], 
     (2, 3, 4, 5), 
     (3, 4, 5, 6), 
     set([3, 4, 5, 65, 4, 3]), 
     {'k1': 'prash', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, 
     ['inuron', 'datasciencd']]
numeric=extract_alpha(mylist)
numeric

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 3,
 4,
 5,
 6,
 65,
 3,
 4,
 5,
 'k1',
 'prash',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 'inuron',
 'datasciencd']

In [12]:
def extract_num(mylist):
    allnum=[]
    for i in mylist:
        if isinstance(i,(int,float)):
            allnum.append(i)
        elif isinstance(i,dict):
            for key,value in i.items():
                if isinstance(key,int):
                    allnum.append(key)
                if isinstance(value,int):
                    allnum.append(value)
        elif isinstance(i,(list,tuple,set)):
            allnum.extend(extract_num(i))
    return allnum

In [16]:
def mul(allnum):
    result=1
    for i in allnum:
        result=result*i
    return result

In [17]:
allnum=extract_num(mylist)
allnum

[1, 2, 3, 4, 2, 3, 4, 5, 3, 4, 5, 6, 65, 3, 4, 5, 3, 6, 7, 8]

In [18]:
mul(allnum)

4075868160000

In [216]:
n=4
for i in range(n):
    print('    '*(n-i-1)+'ineuron '*(i+1))
print()

            ineuron
        ineuron ineuron
    ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [232]:
n=4
for i in range(n):
    print('    '*(n-i-1)+'ineuron '*(i+1))
for i in range(n,0,-1):
    print('    '*(n-i)+'ineuron '*(i))
print()

            ineuron
        ineuron ineuron
    ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
    ineuron ineuron ineuron
        ineuron ineuron
            ineuron