In [ ]:
try to print prime number between 1 to 1000
try to write a function which is equivalanet to print function in python
try to write a function which is a replica of list append extend and pop function
try to to write a lambda function which can return concatenation of all strings that will pass
try to write a lambda function whoich can return list of squares of all numbers between 1 to 100
try to write a function which can perform read operation from .txt file

shivan@ineuron.ai
sudhanshu@ineuron.ai

In [317]:
def prime_number():
    for i in range(1,1000):
        for j in range(2,i):
            if (i%j)==0:
                break
        else:
            yield i

In [318]:
for i in prime_number():
    print(i,end=' ')

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [333]:
def print1(*a):
    return a

In [381]:
#try to write a function which is equivalanet to print function in python

import sys
  
def print1(string):
    sys.stdout.write(string)
    
print1('prashanth')

prashanth

In [350]:
my_print('prashanth')

('prashanth',)

In [363]:
def my_concat(*a):
    l=[]
    for i in a:
        if type(i)==str:
            l.append(i)
            a="".join(l)
    return a

In [364]:
my_concat('prashanth','k')

'prashanthk'

In [365]:
l=lambda a,b:a+b

In [366]:
l('prashanth','k')

'prashanthk'

In [370]:
concat_func=lambda *a:"".join([i for i in a])
                       
concat_func('prashanth','k')

'prashanthk'

In [377]:
squares=lambda a,b: [i**2 for i in range(a,b)]
squares(1,100)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [380]:
f = open("C:\\Users\\prash\\OneDrive\\Desktop\\python test.txt", "r")
print(f.read())